/* Override bootstrap
--------------------------------------------------*/
.form-group {
    margin-bottom: 0.8rem;
}

.form-control {
    border-radius: 2px;
}

.col-form-label {
    border-radius: 2px;
}

.btn {
    border-radius: 2px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

.btn-primary {
    min-width: 200px;
}

.btn-secondary, .btn-info {
    min-width: 120px;
}

.custom-radio {
    padding-bottom:0px;
    padding-left:0px !important;
}

.form-inline .form-control {
    width: 100%
}

/* Okamei 
--------------------------------------------------*/
.main-content {
    padding: 20px 15px 2px 15px;
    background-color: #fff;
    margin: 0px;
    min-height: 840px;
}

.main-content-footer {
    margin-top: 10px;
    margin-bottom: 0px;
}

.page-title {
    margin-left: 4px;
}

.label-title {
    background-color: #f0f8ff;
    width: 100%;
    padding-left: 15px;
    margin-left: 10px;
}

    .label-title.pk {
        background-color: #FFDBE1;
    }

    .label-title.require:after {
        content: "*";
        color: red;
        margin-left: 2px;
    }

.label-custom-radio{
    margin-bottom: 0px;
    padding-right: 20px;
    padding-top: 8px;
}

.btn_search {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 12px;
    margin: 2px auto 0px 4px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

@media (max-width: 575px) {
    .main-content {
        margin: 0px;
    }

    .label-title {
        font-weight: bold;
        background-color: transparent;
        margin-left: 0px;
        padding-left: 0px;
    }

        .label-title.pk {
            background-color: transparent;
            color: #FF4F6F;
        }
}
