/* Override bootstrap
--------------------------------------------------*/
.form-group {
    margin-bottom: 0.8rem;
}

.form-control {
    border-radius: 2px;
}

.col-form-label {
    border-radius: 2px;
}

.btn {
    border-radius: 2px;
}

.custom-radio {
    padding-bottom:0px;
    padding-left:0px !important;
}

.form-inline .form-control {
    width: 100%
}

/* override jquery.Datatables
--------------------------------------------------*/
div.dataTables_filter {
    text-align: left!important;
}

div.dataTables_paginate ul.pagination {
    justify-content: flex-start !important;
}

/* Okamei 
--------------------------------------------------*/
input[type="checkbox"] {
    transform: scale(1.5);
}

.table input[type=checkbox] {
    transform: scale(1.3);
}

input[integerdigits],
input[decimaldigits] {
    text-align: right;
}

a.not-available {
    pointer-events: none;
}

.main-content {
    padding: 20px 15px 2px 15px;
    background-color: #fff;
    margin: 0px;
    min-height: 840px;
}

.main-content-footer, footer-btn {
    margin-top: 10px;
    margin-bottom: 0px;
}

    .main-content-footer .btn, .footer-btn .btn {
        margin: 5px 2px 0px 2px;
    }

    .main-content-footer .btn-primary, .footer-btn .btn-primary {
        min-width: 200px;
    }

    .main-content-footer .btn-secondary, .footer-btn .btn-secondary,
    .main-content-footer .btn-info, .footer-btn .btn-info {
        min-width: 120px;
    }

.page-title {
    margin-left: 4px;
}

.label-title {
    background-color: #f0f8ff;
    width: 100%;
    padding-left: 15px;
    margin-left: 10px;
}

    .label-title.pk {
        background-color: #FFDBE1;
    }

    .label-title.require::after {
        content: "*";
        color: red;
        margin-left: 2px;
    }

.label-custom-radio{
    margin-bottom: 0px;
    padding-right: 20px;
    padding-top: 8px;
}

.custom-check {
    padding-bottom: 0px;
    padding-left: 3px !important;
}

.label-custom-check {
    margin-bottom: 0px;
    padding-right: 10px !important;
    padding-top: 8px;
}

.btn_search {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 12px;
    margin-left: 2px;
}

.delete-link {
    color: red;
}

.edit-link {
    color: blue;
}

@media (max-width: 575px) {
    .main-content {
        margin: 0px;
    }

    .label-title:not(.non-responsive) {
        font-weight: bold;
        background-color: transparent;
        margin-left: 0px;
        padding-left: 0px;
    }

        .label-title:not(.non-responsive).pk {
            background-color: transparent;
            color: #FF4F6F;
        }

    .main-content-footer .btn-primary, .footer-btn .btn-primary {
        min-width: 140px;
    }

    .main-content-footer .btn-secondary, .footer-btn .btn-secondary,
    .main-content-footer .btn-info, .footer-btn .btn-info {
        min-width: 90px;
    }
}
