/* line
--------------------------------------------------
*/
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* layout
--------------------------------------------------
*/
.detail_wrap {
    display: -webkit-box;   
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail_left1,
.detail_right1 {
    width: 49%;
}

.detail_left2 {
    width: 32%;
}

.detail_right2 {
    width: 68%;
}

.left-margin-adjuster {
    margin-left: 10px;
}

div.spacer{
    height: 38px;
}
/* radio button
--------------------------------------------------
*/
.radio_wrap {
    display: inline-block;
}

/* Checkbox
--------------------------------------------------
*/
.main-content input[type="checkbox"] {
    margin-left: 14px;
    margin-right: 4px;
}

    .main-content input[type="checkbox"] + label {
        margin-right: 10px;
        margin-bottom: 0px;
    }

/* anchor
--------------------------------------------------
*/
.main-content a {
    outline: none;
}

/* table
--------------------------------------------------
*/
.main-content .fixedtable-wrap {
    table-layout: fixed;
    height: calc(31px * 5 + 17px + 38px); /* td height * rows + scrollbar + pagenation */
}

.main-content .table thead {
    display: none;
}

.main-content .table td {
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.main-content .table input[type=checkbox] {
    margin: 0;
}

.main-content div.dataTables_scrollBody > table > tbody tr:first-child th,
.main-content div.dataTables_scrollBody > table > tbody tr:first-child td {
    border-top: 1px solid #979797 !important;
}

.main-content div.dataTables_scrollBody > table > tbody tr th,
.main-content div.dataTables_scrollBody > table > tbody tr td {
    border-bottom: 1px solid #979797 !important;
}

.main-content .table tbody td:first-child {
    border-left: 1px solid #979797;
}

.main-content .table tbody td {
    border-right: 1px solid #979797;
}

.main-content .table .BukkenFileShurui {
    min-width: 120px;
    max-width: 120px;
}

.main-content .table .BukkenFileName {
    min-width: 660px;
    max-width: 660px;
}

.main-content .table .BukkenComment {
    min-width: 848px;
    max-width: 848px;
}

.main-content .table .InsertOperator {
    min-width: 120px;
    max-width: 120px;
}

#tblBukkenFile tbody td:nth-child(5) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

#tblBukkenFile tbody td:nth-child(6) {
    min-width: 18px;
    max-width: 18px;
    text-align: center;
}

#tblBukkenComment tbody td:nth-child(4) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

/* file drag drop 
--------------------------------------------------
*/
.drop_area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0 20px;
    border: 2px dashed #494949;
    background: #f4f4f4;
    text-align: center;
}

.drop_area {
    font-size: 18px;
}

    .drop_area.selected {
        border: 1px solid #16a5bf;
    }

    .drop_area.close {
        display: none;
    }

.drop_buttons {
    position: relative;
    display: inline-block;
}

#inputFile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 200px;
    height: 40px;
    opacity: 0;
}

#btnInputFile {
    display: table;
    width: 200px;
}

    #btnInputFile span {
        position: relative;
        z-index: 2;
        display: table-cell;
        width: 300px;
        height: 40px;
        border: 1px solid #333;
        border-radius: 4px;
        background: #6c757d;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
        vertical-align: middle;
    }

.progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: middle;
}

    .progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as progressBar height */
        width: 0;
        background-color: #0ba1b5;
        border-radius: 5px;
    }

.statusbar {
    min-height: 25px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    vertical-align: middle;
}

/* Responsive
--------------------------------------------------
*/
@media (max-width: 1519px) {
    #YukaGouhanShurui, #NoziGouhanShurui {
        width: 70%;
    }
}

@media (max-width: 991px) {
    .spacer {
        display: none;
    }

    .detail_wrap {
        display: block;
    }

    .detail_left1,
    .detail_right1,
    .detail_right2{
        width: 100%;
    }

    .detail_left2 {
        width: 66%;
    }
}

@media (max-width: 767px) {
    /* same as customize.css @media (max-width: 575px) ---> */
    .main-content {
        margin: 0px;
    }

    .label-title:not(.non-responsive) {
        font-weight: bold;
        background-color: transparent;
        margin-left: 0px;
        padding-left: 0px;
    }

        .label-title:not(.non-responsive).pk {
            background-color: transparent;
            color: #FF4F6F;
        }
    /* <-------------------------------------------------- */

    .left-margin-adjuster {
        margin-left: 0;
    }
}