/* line
--------------------------------------------------
*/
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* layout
--------------------------------------------------
*/
.wrap-container {
    display: -webkit-box;   
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#leftWrap1stPage,
#rightWrap1stPage {
    width: 49%;
}

#leftWrap2ndPage {
    width: 32%;
}

#rightWrap2ndPage {
    width: 68%;
}

/* Checkbox
--------------------------------------------------
*/
input[type="checkbox"] {
    margin-left: 14px;
    margin-right: 4px;
}

    input[type="checkbox"] + label {
        margin-right: 10px;
    }

/* radio button
--------------------------------------------------
*/
.radioWrap {
    display: inline-block;
}

/* autocomplete 
--------------------------------------------------
*/
.autocomplete .dropdown-menu {
    overflow: auto;
    max-height: 250px;
    min-width: 100%;
}

    .autocomplete .dropdown-menu a {
        display: block;
        padding: 2px 12px 2px 12px;
        text-decoration: none;
        outline: none;
        color: black;
    }

        .autocomplete .dropdown-menu a:focus,
        .autocomplete .dropdown-menu a:hover {
            background-color: #4C93FF;
            color: #fff;
        }

/* table
--------------------------------------------------
*/
.table td {
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table thead {
    display: none;
}

.table input[type=checkbox] {
    margin: 0;
}

div.dataTables_scrollBody > table > tbody tr:first-child th,
div.dataTables_scrollBody > table > tbody tr:first-child td {
    border-top: 1px solid #979797 !important;
}

div.dataTables_scrollBody > table > tbody tr th,
div.dataTables_scrollBody > table > tbody tr td {
    border-bottom: 1px solid #979797 !important;
}

.table tbody td:first-child {
    border-left: 1px solid #979797;
}

.table tbody td {
    border-right: 1px solid #979797;
}

.table .BukkenFileShurui {
    min-width: 120px;
    max-width: 120px;
}

.table .BukkenFileName {
    min-width: 660px;
    max-width: 660px;
}

.table .BukkenComment {
    min-width: 848px;
    max-width: 848px;
}

.table .InsertOperator {
    min-width: 120px;
    max-width: 120px;
}

#tblBukkenFile tbody td:nth-child(5) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

#tblBukkenFile tbody td:nth-child(6) {
    min-width: 18px;
    max-width: 18px;
    text-align: center;
}

#tblBukkenComment tbody td:nth-child(4) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

/* control
--------------------------------------------------
*/
#YukaGouhanShurui,
#NoziGouhanShurui {
    margin-left: 10px;
}

#btnUpload {
    margin-left: 10px;
}

/* file drag & drop 
--------------------------------------------------
*/
#dragDropArea {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0 20px;
    border: 2px dashed #494949;
    background: #f4f4f4;
    text-align: center;
}

#dragDropArea {
    font-size: 18px;
}

    #dragDropArea.selected {
        border: 2px solid #16a5bf;
        background: #f4f4f4;
    }

    #dragDropArea.close {
        display: none;
    }

#inputFile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 200px;
    height: 40px;
    opacity: 0;
}

.dragDrop-buttons {
    position: relative;
    display: inline-block;
}

#btnInputFile {
    display: table;
    width: 200px;
}

    #btnInputFile span {
        position: relative;
        z-index: 2;
        display: table-cell;
        width: 300px;
        height: 40px;
        border: 1px solid #333;
        border-radius: 4px;
        background: #6c757d;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
        vertical-align: middle;
    }

.progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: middle;
}

    .progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as progressBar height */
        width: 0;
        background-color: #0ba1b5;
        border-radius: 5px;
    }

.statusbar {
    min-height: 25px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    vertical-align: middle;
}

/* Responsive
--------------------------------------------------
*/
@media (max-width: 1576px) {
    #YukaZai, #NojiZai {
        width: 60%;
    }
}

@media (max-width: 1197px) {
    #rightWrap2ndPage label[for*="Check"] {
        display: none;
    }
}

@media (max-width: 575px) {
    .blankline {
        display: none;
    }

    .wrap-container {
        display: block;
    }

    #leftWrap1stPage,
    #leftWrap2ndPage,
    #rightWrap1stPage,
    #rightWrap2ndPage{
        width: 100%;
    }

    #YukaGouhanShurui,
    #NoziGouhanShurui {
        margin-left: 0px;
    }
}