/* InputBukkenShousai MoulderSubEntry*/

#MoulderSubEntry .modal_content {
    width: 1000px;
    max-height: 95%;
}

#MoulderSubEntry .label-title { /* override customize.css */
    margin-left: 0;
}

#MoulderSubEntry .detail_content .label-title { /* override customize.css */
    padding-right: 15px;
    border-radius: 0;
}

#MoulderSubEntry .detail_content .form-control {
    height: calc(1.3em + 0.45rem + 2px);
    line-height: 1.3;
    padding: 0 0.5rem;
    border: none;
}

    #MoulderSubEntry .detail_content .form-control:focus {
        border: 1px solid #80bdff;
        outline: none;
        box-shadow: none;
    }

#MoulderSubEntry .footer-btn { /* override customize.css */
    white-space: nowrap;
}

#MoulderSubEntry .footer-left {
    padding-right: 60px;
}

#MoulderSubEntry .table tr.rowTemplate {
    display: none;
}

#MoulderSubEntry .table th {
    padding: 3px 12px;
    font-weight: normal;
    vertical-align: middle;
}

#MoulderSubEntry .table td {
    padding: 0;
    line-height: 1.3;
    vertical-align: middle;
    background-color: #fff;
}

#MoulderSubEntry .table .MoulderRows {
    display: none;
}

#MoulderSubEntry .table .MoulderHinmoku {
    min-width: 148px;
    max-width: 148px;
    width: 148px;
}

#MoulderSubEntry .table .MoulderZairyou {
    min-width: 248px;
    max-width: 248px;
    width: 248px;
}

#MoulderSubEntry .table .MoulderHaba,
#MoulderSubEntry .table .MoulderNari,
#MoulderSubEntry .table .MoulderNagasa,
#MoulderSubEntry .table .MoulderHonsuu {
    min-width: 76px;
    max-width: 76px;
    width: 76px;
    text-align: right;
}

#MoulderSubEntry .table th.MoulderHaba,
#MoulderSubEntry .table th.MoulderNari,
#MoulderSubEntry .table th.MoulderNagasa,
#MoulderSubEntry .table th.MoulderHonsuu {
    text-align: center;
}

#MoulderSubEntry .table .MoulderKakouDateTime {
    min-width: 112px;
    max-width: 112px;
    width: 112px;

}

#MoulderSubEntry .table td.MoulderKakouDateTime {
    background-color: #e9ecef;
    padding: 0 12px;
}

#MoulderSubEntry .table .MoulderSumi {
    min-width: 46px;
    max-width: 46px;
    width: 46px;
    text-align: center;
}

@media (max-width: 1000px) {
    #MoulderSubEntry .modal_content {
        max-width: 90%;
        padding-bottom: 20px;
    }
}

