/* In the case of "font-size:16px", for every 1 increase in size, the width increases by 10px. */
input.size1 {
    max-width: 36px !important;
}

input.size2 {
    max-width: 46px !important;
}

input.size3 {
    max-width: 56px !important;
}

input.size4 {
    max-width: 66px !important;
}

input.size5 {
    max-width: 76px !important;
}

input.size6 {
    max-width: 86px !important;
}

input.size7 {
    max-width: 96px !important;
}

input.size8 {
    max-width: 106px !important;
}

input.size9 {
    max-width: 116px !important;
}

input.size10 {
    max-width: 126px !important;
}

input.size11 {
    max-width: 136px !important;
}

input.size12 {
    max-width: 146px !important;
}

input.size13 {
    max-width: 156px !important;
}

input.size14 {
    max-width: 166px !important;
}

input.size15 {
    max-width: 176px !important;
}

input.size16 {
    max-width: 186px !important;
}

input.size17 {
    max-width: 196px !important;
}

input.size18 {
    max-width: 206px !important;
}

input.size19 {
    max-width: 216px !important;
}

input.size20 {
    max-width: 226px !important;
}

input.size30 {
    max-width: 326px !important;
}

input.size40 {
    max-width: 426px !important;
}

input.size50, textarea.size50 {
    max-width: 526px !important;
}

input.size100 {
    max-width: 1026px !important;
}

/* The size of select is the input.size + 22 */
select.size1 {
    max-width: 58px !important;
}

select.size2 {
    max-width: 68px !important;
}

select.size3 {
    max-width: 78px !important;
}

select.size4 {
    max-width: 88px !important;
}

select.size5 {
    max-width: 98px !important;
}

select.size6 {
    max-width: 108px !important;
}

select.size7 {
    max-width: 118px !important;
}

select.size8 {
    max-width: 128px !important;
}

select.size9 {
    max-width: 138px !important;
}

select.size10 {
    max-width: 148px !important;
}

select.size11 {
    max-width: 158px !important;
}

select.size12 {
    max-width: 168px !important;
}

select.size13 {
    max-width: 178px !important;
}

select.size14 {
    max-width: 188px !important;
}

select.size15 {
    max-width: 198px !important;
}

select.size16 {
    max-width: 208px !important;
}

select.size17 {
    max-width: 218px !important;
}

select.size18 {
    max-width: 228px !important;
}

select.size19 {
    max-width: 238px !important;
}

select.size20 {
    max-width: 248px !important;
}

select.size30 {
    max-width: 348px !important;
}

select.size34 {
    max-width: 388px !important;
}

select.size39 {
    max-width: 438px !important;
}

select.size40 {
    max-width: 448px !important;
}

select.size50 {
    max-width: 548px !important;
}
