/* restyle
-------------------------------------------------- */
body {
    font-family: sans-serif;
    font-size: 16px;
    background: #eee;
}

/* container
-------------------------------------------------- */
.global-container {
    background: #eee;
    margin-left: 260px;
    position: relative;
    -moz-transition: margin-left .25s linear;
    -webkit-transition: margin-left .25s linear;
    transition: margin-left .25s linear;
    min-height: 100vh;
}

.global-sub-container {
    padding-top: 80px;
}

/* header
-------------------------------------------------- */
.global-header {
    position: fixed;
    color: #66cdaa;
    width: 100%;
    padding: 10px 0px;
    background: #fff;
    display: -webkit-flex;
    display: flex;
}

.global-header-logo {
    background: no-repeat center center;
    background-size: 100% 100%;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.global-header-logo img {
    width: 95%;
    max-width: 95%;
    height: auto;
}

.global-header-user {
    position: fixed;
    right: 10px;
    padding-top: 8px;
}

    .global-header-user .material-icons {
        font-size: 28px;
        color: gray;
    }

    .global-header-user a {
        color: black;
        text-decoration: none;
    }

    .global-header-user .dropdown-menu a {
        /*font-size: 14px;*/
        line-height: 20px;
    }

    .global-header-user .dropdown-menu i {
        padding-left: 10px;
        padding-right: 5px;
    }


/* side menu
-------------------------------------------------- */
.nav-toggle {
    position: fixed;
    top: 20px;
    left: 15px;
    height: 32px;
}

    .nav-toggle > div {
        position: relative;
        width: 32px;
    }

    .nav-toggle span {
        width: 100%;
        height: 2px;
        left: 0;
        display: block;
        background: #fff;
        position: absolute;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }

        /* .nav-toggle close */
        .nav-toggle span:nth-child(1) {
            top: 0;
        }

        .nav-toggle span:nth-child(2) {
            top: 11px;
        }

        .nav-toggle span:nth-child(3) {
            top: 22px;
        }

.nav-sidebar {
    padding-top: 60px;
    width: 260px;
    height: 100%;
    position: fixed;
    color: #008b8b;
    background: #66cdaa;

    /* scroll bar */
    overflow-y: scroll;
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    -webkit-overflow-scrolling: touch;
}

    .nav-sidebar::-webkit-scrollbar {
        width: 5px;
    }

    .nav-sidebar::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
    }

    .nav-sidebar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }

.nav-menu ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu .nav-menu-category li {
    padding: 10px 10px 10px 32px;
}

.nav-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    outline: none;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}
    .nav-menu a:focus,
    .nav-menu a:hover {
        color: #033560;
    }

.nav-menu .nav-menu-category > a {
    padding: 12px;
    position: relative;
}

    .nav-menu .nav-menu-category > a:hover {
        background: #e7e7e7;
    }

.nav-menu a[data-toggle="collapse"]::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav-menu a[aria-expanded=false]::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-duration: 0.3s;
}

.nav-menu a[aria-expanded=true]::after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    transition-duration: 0.3s;
}

/* z-index
-------------------------------------------------- */
.nav-toggle {
    z-index: 1000;
}

.global-container {
    z-index: 900;
}

.global-header {
    z-index: 800;
}

/* close menu
-------------------------------------------------- */
.closeMenu .global-container {
    margin-left: 0;
}

.closeMenu .global-header-logo {
    margin-left: 50px;
}

.closeMenu .nav-toggle span {
    background: #66cdaa;
}

/* responsive
-------------------------------------------------- */
@media screen and (max-width: 959px) {
    .global-container {
        margin-left: 0;
    }

    .global-header-logo {
        margin-left: 50px;
    }

    .nav-toggle span {
        background: #66cdaa;
    }

    .closeMenu .nav-toggle span {
        background: #fff;
    }

    .nav-sidebar {
        left: -260px;
        z-index: 910;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }

    .closeMenu .nav-sidebar {
        left: 0;
    }
}

@media (max-width: 575px) {
    .global-sub-container {
        padding-right: 0px;
        padding-left: 0px;
    }
}
