@model Models.KubunTaisyouModel
@{
    ViewBag.Title = "KubunTaisyou";
    var serverDate = ViewBag.ServerDate;
}

    <h4 class="page-title">区分対象物件</h4>
    <div id="main" class="main-content">
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label label-title">区分</label>
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(
                model => model.KubunCD,
                new SelectList(Model.KubunDropDownListItems, "Value", "DisplayText"),
                "",
                new { @class = "form-control size50" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label label-title">支店</label>
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(
                model => model.TantouSitenCD,
                new SelectList(Model.TantouSitenDropDownListItems, "Value", "DisplayText"),
                "全社",
                new { @class = "form-control size50" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label label-title">納期</label>
            </div>
            <div class="col-sm-10 form-inline">
                <input type="text" id="NoukiStart" name="NoukiStart" class="form-control size10" maxlength="10" />
                <span>&nbsp;～&nbsp;</span>
                <input type="text" id="NoukiEnd" name="NoukiEnd" class="form-control size10" maxlength="10" />
            </div>
        </div>

        <div class="form-group row">
            <div class="main-content-footer mx-auto">
                <button type="button" id="btnReturn" class="btn btn-secondary" nofocus>戻る</button>
                <button type="button" id="btnDisplay" class="btn btn-primary active">表示</button>
            </div>
        </div>
    </div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () { 
            $('#btnReturn').click(function () {
                showConfirmMessage("Q004", function () {
                    window.location.reload();
                });
            });//

            $('#btnDisplay').click(function () {
                if (checkErrorOnSave()) {
                    //showConfirmMessage("Q201", btnDisplayClick);
                    btnDisplayClick();
                }
            });

            //日付チェック
            setDateTypeValidate('#NoukiStart')
            setDateTypeValidate('#NoukiEnd')
            //日付大小チェック
            setCompareDateValidate('#NoukiEnd', '#NoukiStart')
            //初期表示
            //$('#NoukiStart').val('@serverDate');
            $('#KubunCD').focus();
        });

        function btnDisplayClick() {
             
            var model =
            {
                TantouSitenCD: $("#TantouSitenCD option:selected").text() == '全社' ? null: $('#TantouSitenCD').val(),   

                NoukiStart: $("#NoukiStart").val() == '' ?null: $('#NoukiStart').val(),
                NoukiEnd: $("#NoukiEnd").val() == '' ? null : $('#NoukiEnd').val(),

                KubunCD: $("#KubunCD option:selected").text() == '' ? null: $('#KubunCD').val(),  
                UserID: $('#user-id').text()
            };

            var result = calltoApiController('@Url.Action("ExistsDisplayResult", "api/KubunTaisyouApi")', model);
            if (!result) {
                return false;
            }
            if (result.MessageID) {
                showMessage(result);
                return false;
            }

            location.href = '@Url.Action("DisplayResult", "KubunTaisyou")' + querySerialize(model);
            return true;
        }

    </script>
}
