<div class="modal js-modal">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <div class="modal_header">
            <div class="modal_title">
                <h5 class="modal-title-text"></h5>
            </div>
            <button type="button" class="modal_close js-modal-close" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal_body">
            @RenderBody()
        </div>
    </div>
</div>

