
@{
    ViewBag.Title = "MoulderItiranList";
}

<style>
    .list-table {
        /*visibility: hidden;*/
    }

    .table th {
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #ffff66;
        text-align: center;
        white-space: nowrap;
    }

    #tblMoulderItiran tbody td {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #tblMoulderItiran .Nouki {
        min-width: 50px;
    }

    #tblMoulderItiran .BukkenNO {
    }

    #tblMoulderItiran .BukkenName {
        min-width: 150px;
    }

    #tblMoulderItiran .Name {
        min-width: 80px;
    }

    #tblMoulderItiran .Material {
        min-width: 110px;
    }

    #tblMoulderItiran .Content {
        min-width: 180px;
    }

    #tblMoulderItiran .MoulderHonsuu {
        text-align: right;
    }

    #tblMoulderItiran .MoulderKakouDateTime {
        min-width: 180px;
    }
</style>

<h4>モルダー</h4>
<div id="main" class="main-content">
    <table class='table table-bordered list-table' id="tblMoulderItiran">
        <thead>
            <tr>
                <th>出荷</th>
                <th>物件番号</th>
                <th>物件名</th>
                <th>名称</th>
                <th>材料</th>
                <th>加工内容</th>
                <th>本数</th>
                <th>加工日</th>
            </tr>
        </thead>
        <tbody>
            @{
                var columns = ViewBag.Data.Columns;
            }

            @foreach (System.Data.DataRow row in ViewBag.Data.Rows)
            {
                <tr>
                    @{
                        var count = row.ItemArray.Count();
                        var items = row.ItemArray;
                        var bukkenNo = row["BukkenNO"].ToString();
                    }
                    @for (var i = 0; i < count; i++)
                    {
                        <td class="@columns[i].Caption">
                            @if (columns[i].Caption == "BukkenName")
                            {
                                @Html.ActionLink((string)items[i], "Entry", "BukkenShousai", new { Mode = "Edit", BukkenNO = bukkenNo }, new { @class = "edit-link" })
                            }
                            else
                            {
                                @items[i]
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group row">
        <div class="footer-btn mx-auto">
            <button type="button" id="btnReturn" class="btn btn-secondary">戻る</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnReturn').click(function () {
                location.href = '@Url.Action("SetCondition", "MoulderItiran")';
            });

            bindDataTables($('#tblMoulderItiran'));
        });

    </script>
}
